body 
{
    background-image: url(../images/background.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

#webLogo {
    position: absolute;
    top: 25px;
    left: 25px;
    background: rgba(255, 255, 255, 0.2);
    min-width: 75px;
    width: 5%;
    border-color: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    border-style: solid;
}

#loginContainer {
    background-color: rgba(122, 157, 84, 0.8);
    box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    width: 50%;
    max-width: 750px;
    margin: auto;
    padding: 15px;
    text-align: center;
}

#loginContainer > .innercontents {
    margin: 20px;
    padding: 10px;
    font-size: 30px;
    border-color: rgba(0, 0, 0, 0.25);
    border-style: solid;
    border-width: 0.1px;
    border-radius: 10px;
}

#loginContainer span {
    font-size: 30px;
}

#loginTitle {
    color: aliceblue;
    text-align: center;
    font-size: 75px;
}

#usernameInput {
    width: 70%;
}

#passwordInput {
    width: 70%;
}

#loginButton {
    width: 25%;
    min-width: 110px;
    cursor: pointer;
}

#loginButton:hover {
    background-color: #F2EE9D;
}

.loginText {
    font-size: 25px;
    margin: 0px;
}

#loginResultText {
    color: #8C3333;
}

#signUpText {
    color: white;
    text-decoration: none;
}

#signUpText:hover {
    text-decoration: underline;
}