body {
    background-image: url(../images/blurryHouseBackground.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

label {
    font-size: 2rem;
}

.bg {
    color: white;
    background: linear-gradient(to bottom, rgba(50, 56, 62, 0.5), 50%, rgba(50, 56, 62, 0));
}

#title {
    color: white;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
    margin-top: 7vh;
}

#login-container {
    background-color: #32383e;
    color: white;
    box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    min-width: 400px;
    width: 20%;
    max-width: 750px;
    margin: 3vh auto 0 auto;
    padding: 25px;
}

#register-text {
    text-align: left;
}

div.invalid-feedback {
    font-size: 1rem;
}

.link, .link:hover {
    color: #79c255;
}

#login-container #submit-btn {
    display: block;
    min-width: 50px;
    width: 30%;
    max-width: 150px;
    margin: auto;
}