body {
	background-image: url(../images/blurryHouseBackground.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
}

.bg {
	color: white;
	background: linear-gradient(to bottom, rgba(50, 56, 62, 0.5), 50%, rgba(50, 56, 62, 0));
	padding-left: 16px;
	padding-right: 16px;
}

#userDetailsDiv {
	display: grid;
	place-items: center;
	padding-top: 20px;
	padding-bottom: 22px;
	background-color: #32383e;
	width: 30%;
	max-width: 750px;
	box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.25);
	padding-top: 30px;
}

.signupTitle {
	bottom: 20px;
	color: white;
	text-align: center;
	font-size: 32px;
}

#userDiv,
#firstDiv,
#lastDiv,
#passDiv,
#conpassDiv {
	width: 70%;
}

#errMsg {
	max-width: 380px;
}

.errText {
	color: rgb(197, 3, 3);
}

#nameErr {
	width: max-content;
	bottom: 200px;

}

#usernameErr {
	bottom: 73px;

}

#passwordErr {
	width: 90%;
	bottom: 25px;

}

#fillErr {
	bottom: 250px;
}

#login-text {
	color: white;
}

.link,
.link:hover {
	color: #79c255;
}

.errBox {
	background-color: #FFCCCB;
	color: red;
	border: solid;
	border-width: 3px;
	max-width: max-content;
	border-radius: 7px;
}


.notvisible {
	opacity: 0;
	transition: 0.4s;
}

.visible {
	opacity: 1;
	transition: 0.4s;
}

.form-floating #buttondiv {
	display: flex;
	align-items: center;
	justify-content: center;
}

#ConfirmBtn {
	padding: 5px 30px 5px 30px;
	border-radius: 7px;
	background-color: #28a745;
	border-color: #28a745;
	cursor: pointer;
	font-size: 19px;

}

#ConfirmBtn:hover {
	background-color: #218938;
	border-color: #218938;
}